body{
    background: #111111;
    padding: 0;
    margin: 0;
    /* width: fit-content; */
    height: 100% ;
    width: 100%;
    overflow:  hidden  ;
}


a{
    text-decoration: none;
    color: white;
}


article{
    width: 70%;
    z-index: -2;
    background-image: linear-gradient(to right, #2b2b2b, #2c2c2c,#2f2f2f, #323232, #363636);
    margin: 20px auto;
    padding: 0 100px 50px 100px;
    border-radius: 20px;
    margin-bottom: 10px;
    /* overflow: hidden; */


}

header{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-bottom: 100px;

}


.abibas{
    margin: 10px;
    /* margin-left: 110px; */
    align-self: center;
    font-weight: 600;
    font-size: 30px;
    color: white;
    
}

ul{
    list-style: none;
    display: flex;
    /* margin-right: 120px; */
    color: white;
    
}

li{
    margin: 10px;
}

h1{
    width: min-content;
    font-size: 40px;
    color: white;
}

.left-and-right{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-right{
    z-index: 2;

}

.section-right img{
    width: 300px;
    margin-left: 130px;
    z-index: 1;
}

.lorem{
    max-width: 380px;
    color: rgba(255, 255, 255, 0.579);
    /* z-index: ; */
}

.red-circle{
    width: 120%;
    height: 120%;
    background-color: rgba(255, 0, 0, 0.545);
    clip-path: circle();
    position: absolute;
    bottom: -270px;
    right: -700px;
    z-index: 1;
    
}

*{
    font-family: sans-serif;
}



@media (max-width:816px){
    


    header{
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        gap: 10px;
        margin-bottom: 0;
    }

    .section-left{
        width: fit-content;
        
    }

    .lorem{
        width: fit-content;
        max-width: none;
    }

    article{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0;

    }

    h1{
        width: fit-content;
    }
    .abibas{
        margin: 0;
    }

    ul {
        margin: auto;
        width: fit-content;
        padding: 0;
    }

    .left-and-right{
        flex-direction: column;
        
    }

    .red-circle{
    width: 120%;
    height: 120%;
    background-color: rgba(255, 0, 0, 0.545);
    clip-path: circle();
    position: absolute;
    bottom: -450px;
    right:  -79px;
    z-index: 1;
    
    }

    .section-right{
        margin-top: 0;
    }

    .section-right img{
        margin: auto;
    }
    
    
    
}